/* Add your styles here */

/* Styling for article images */
img {
    width: 300px;
  }
  
  /* Styling for article h1 tag */
  h1 {
    padding: 5px;
    font: 24px Arial;
    color: white;
    background-color: red;
  }
  
  /* Styling for author name and date */
  #author-name-and-date {
    font: 12px Arial;
    color: lightgray;
  }
  
  /* Styling for article text (p and ol tags) */
  p, ol {
    font: 16px "Times New Roman", Times, serif;
    color: gray;
  }
  
  /* Styling for share links (a tags) */
  a {
    font: 12px Arial;
    color: blue;
  }   